<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true">

  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
  </extensions>

  <targets>
    <target xsi:type="AsyncWrapper" name="allfile">
      <target xsi:type="File" fileName="Logs\${shortdate}.log" maxArchiveDays="30"
              layout="${date}: [${event-properties:item=EventId:whenEmpty=0}] [${level:uppercase=true}] [${logger}]--${message}${when:when=length('${exception}')>0:inner=${newline}${exception:format=tostring}}" />
    </target>

    <target xsi:type="Console" name="lifetimeConsole" layout="${MicrosoftConsoleLayout}" />

    <!-- 审计日志橙色控制台输出 -->
    <target xsi:type="ColoredConsole" name="auditConsole"
            layout="${time} [${logger}] ${message}${onexception:${newline}${exception:format=tostring}}"
            encoding="utf-8">
      <highlight-row condition="level >= LogLevel.Info" foregroundColor="DarkYellow" />
    </target>
  </targets>

  <rules>
    <logger name="Audit.*" minlevel="Info" writeTo="auditConsole" final="true" />

    <!--所有日志写入文件-->
    <logger name="*" minlevel="Trace" writeTo="allfile" />
    <logger name="System.*" finalMinLevel="Warn" />
    <logger name="Microsoft.*" finalMinLevel="Warn" />
    <!-- 其他日志写入普通控制台 -->
    <logger name="*" minLevel="Info" writeTo="lifetimeConsole" />
  </rules>
</nlog>